   # Java
   *.class
   *.jar
   *.war
   *.ear

   # Gradle
   .gradle/
   build/

   # script
   archive/
   archive/versions

   # VS Code
   .vscode/

   # Node.js
   scripts/node_modules
   scripts/npm-debug.log
   scripts/yarn-error.log
   scripts/package-lock.json

   # Logs
   *.log

   # Temporary files
   tmp/

   .env
